body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  word-break: break-all;
  -ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none;
	::-webkit-scrollbar {
		display: none;
		width: 0; /* Remove scrollbar space */
		height: 0;
		background: transparent; /* Optional: just make scrollbar invisible */
		-webkit-appearance: none;
	}
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
